<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.toshiba.ankiety">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Surveys app with anonimity"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RegisterActivity" />
        <activity android:name=".InvitationActivity" />
        <activity android:name=".UserAreaActivity"/>
        <activity android:name=".SimpleSurveyActivity"/>
        <activity android:name=".GetSurveyActivity"/>
        <activity android:name=".ShowSurveyActivity">
        </activity>
    </application>

</manifest>
