/web-app/logs
/web-app/target
/web-app/.idea
/web-app/.idea_modules
/web-app/.classpath
/web-app/.project
/web-app/.settings
/web-app/RUNNING_PID
/web-app/bin/
/web-app/.sbtserver/
/.metadata/
/.recomenders/
web-app/project/.sbtserver
.recommenders/
front-app/node_modules
front-app/typings
front-app/npm-debug.log
front-app/extracted
web-app/front-app/node_modules
web-app/front-app/typings
web-app/front-app/npm-debug.log
web-app/front-app/extracted
web-app/public/node_modules
.idea/
web-app/conf/evolutions/default/
web-app/conf/evolutions/default/1.sql
web-app/public/app/login.1.0.0.js
web-app/play-java.iml
web-app/surveys2.iml
mobile-app/.idea/
sh.exe.stackdump
