<div class="col-md-6 col-md-offset-3">
    <h2>Few words about this page</h2>
    <p>We are the group of five people who have decided to create a web application. The purpose of this application
        is to allow the user create, answer and see the result of the surveys.
        Every person who takes part in the survey will be certain that his or her votes are anonymous so that the results
        are fully reliable.
        The application is also available for the mobile phons with the Android.
    </p>
</div>