<div class="col-md-6 col-md-offset-3">
    <form class="form-group" [formGroup]="firstForm" *ngIf="stage == 1" novalidate>
        <div class="form-group has-feedback" [ngClass]="{'has-error': isFormError(firstForm.get('login'))}">
            <label for="login">Login:</label>
            <input id="login" type="text" class="form-control" formControlName="login"/>
            <span *ngIf="isFormError(firstForm.get('login'))"
                  class="glyphicon glyphicon-warning-sign form-control-feedback"></span>
            <div *ngIf="isFormError(firstForm.get('login'))" class="help-block">Login is required</div>
        </div>
        <div class="form-group has-feedback" [ngClass]="{'has-error': isFormError(firstForm.get('email'))}">
            <label for="email">E-mail:</label>
            <input id="email" type="email" class="form-control" formControlName="email"/>
            <span *ngIf="isFormError(firstForm.get('email'))"
                  class="glyphicon glyphicon-warning-sign form-control-feedback"></span>
            <div *ngIf="isFormError(firstForm.get('email'))" class="help-block">Email is required</div>
        </div>
        <button [disabled]="loading" type="button" class="btn btn-primary" (click)="getQuestion()">
            Reset password
        </button>
        <img *ngIf="loading"
             src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="/>
        <button [disabled]="loading" type="button" class="btn btn-primary" (click)="stage = 3;">
            I have code
        </button>
    </form>
    <form class="form-group" [formGroup]="secondForm" *ngIf="stage == 2" novalidate>
        <div class="form-group has-feedback" [ngClass]="{'has-error': isFormError(secondForm.get('answer'))}">
            <label for="answer">{{question}}</label>
            <input id="answer" type="text" class="form-control" formControlName="answer"/>
            <span *ngIf="isFormError(secondForm.get('answer'))"
                  class="glyphicon glyphicon-warning-sign form-control-feedback"></span>
            <div *ngIf="isFormError(secondForm.get('answer'))" class="help-block">Answer is required</div>
        </div>
        <button [disabled]="loading" type="button" class="btn btn-primary"
                (click)="sendAnswer()">
            Answer
        </button>
        <img *ngIf="loading"
             src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="/>
    </form>
    <form class="form-group" [formGroup]="thirdForm" *ngIf="stage == 3" novalidate>
        <div class="form-group has-feedback" [ngClass]="{'has-error': isFormError(thirdForm.get('code'))}">
            <label for="code">Code from e-mail:</label>
            <input id="code" type="text" class="form-control" formControlName="code"/>
            <span *ngIf="isFormError(thirdForm.get('code'))"
                  class="glyphicon glyphicon-warning-sign form-control-feedback"></span>
            <div *ngIf="isFormError(thirdForm.get('code'))" class="help-block">Code is required</div>
        </div>
        <div class="form-group has-feedback" [ngClass]="{'has-error': isFormError(thirdForm.get('password'))}">
            <label for="password">New password:</label>
            <input id="password" type="password" class="form-control" formControlName="password"/>
            <span *ngIf="isFormError(thirdForm.get('password'))"
                  class="glyphicon glyphicon-warning-sign form-control-feedback"></span>
            <div *ngIf="isFormError(thirdForm.get('password'))" class="help-block">Password is required</div>
        </div>
        <div class="form-group has-feedback" [ngClass]="{'has-error': isFormError(thirdForm.get('rePassword'))}">
            <label for="rePassword">Repeat new password:</label>
            <input id="rePassword" type="password" class="form-control" formControlName="rePassword"/>
            <span *ngIf="isFormError(thirdForm.get('rePassword'))"
                  class="glyphicon glyphicon-warning-sign form-control-feedback"></span>
            <div *ngIf="isFormError(thirdForm.get('rePassword'))" class="help-block">Passwords don't match</div>
        </div>
        <button [disabled]="loading" type="button" class="btn btn-primary" (click)="resetPassword()">
            Set new password
        </button>
        <img *ngIf="loading"
             src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="/>
    </form>
</div>