@* register Template File *@
@(msg: String)
@main("Rejestruj"){
	@if(msg != ""){
		<div class="error">@msg</div>
	}
	
	<div class="container">
		<h2>Rejestracja</h2>
		<form method="POST" action="/register">
			<div class="form-group">
				<label for="login">Login:</label>
				<input type="text" class="form-control" name="login" placeholder="Wpisz swój login" required>
			</div>
			<div class="form-group">
				<label for="pwd">Has³o:</label> 
				<input type="password" class="form-control" name="password" placeholder="Wpisz has³o" required>
			</div>
			<div class="form-group">
				<label for="pwd">Powtórz has³o:</label> 
				<input type="password" class="form-control" name="rePassword" placeholder="Powtórz has³o" required>
			</div>
			<div class="form-group">
				<label for="name">Imiê:</label> 
				<input type="text" class="form-control" name="firstName" placeholder="Wpisz swoje imiê" required>
			</div>
			<div class="form-group">
				<label for="surname">Nazwisko:</label>
				<input type="text" class="form-control" name="lastName" placeholder="Wpisz swoje nazwisko" required>
			</div>
			<div class="form-group">
				<label for="email">E-mail:</label>
				<input type="email" class="form-control" name="email" placeholder="Wpisz swój adres e-mail" required><br>
			</div>
			<button type="submit" class="btn btn-defoult">Zarejestruj</button>
		</form>
	</div>
}