<div class="col-md-6 col-md-offset-3">
    <h1>Hi {{currentUser.firstName}}!</h1>
    <p>You're logged in on Surveys website!!</p>
    <!--<ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#created">Created surveys</a></li>
        <li><a data-toggle="tab" href="#answerd">Answerd surveys</a></li>
    </ul>
    <div class="tab-content">
        <div id="created" class="tab-pane fade in active">
            <p>History of created surveys.</p>
        </div>
        <div id="answerd" class="tab-pane fade">
            <p>History of answerd surveys.</p>
        </div>
    </div>-->
</div>